<!DOCTYPE html>
<html lang="en">

<head>
    <% include parts/head %>
</head>

<body>
    <% include parts/nav %>



    <style>
        .heading {
            color: #1B2B32;
            margin-left: 200px
        }

        .color {
            color: #1B2B32;

        }

        .mover {
            margin-left: 60px;
        }
    </style>
    <h1 class="heading">EL REY LEON</h1>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="image/principal/leon.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6">


                <h5 align="justify">
                    <FONT FACE="arial">Simba es un pequeño león, príncipe de la sabana africana, que vive feliz junto a
                        su familia. Pero su apacible vida se verá truncada cuando su ambicioso tío Scar cumpla su plan y
                        asesine a Mufasa, el padre de Simba, para ocupar su lugar en el trono. Será entonces cuando el
                        pequeño león decida escapar para salvar su vida y comenzar una nueva aventura adentrándose en
                        solitario en la selva, donde conocerá nuevos amigos que le ayudarán a convertirse en un adulto.
                    </FONT>
                </h5>

                <p><b class="color">Género: </b>Aventura, Familia, Animación</p>
                <p> <b class="color">Idioma: </b>Español</p>
                <p><b class="color">Duración: </b>117 minutos</p>
                <p><b class="color">Horarios: </b>9:00 a.m</p>
                <p class="mover">2:00 p.m</p>
                <p class="mover">6:00 p.m</p>
                <p class="mover">8:00 p.m</p>
                <p class="mover">10:00 p.m</p>

                <div class="sub_header">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="sub_header_social_icon float-right">
                                <a style="font-weight:500;" href="/login2" class="register_icon"><i
                                        class='fas fa-user-check'></i>Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <br>
    <br>

    <% include parts/footer %>


</body>

</html>