<!DOCTYPE html>
<html lang="en">

<% include parts/head %>

<body>

    <% include parts/nav %>


    <h1 align="center">Nuestra Cartelera</h1>
    <br>
    
    <div class="container">
            <div class="row">
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/rapido.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5><FONT FACE="arial">Rápidos y Furiosos </FONT></h5>
                                  <a href="/rapido"  style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/spider.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5><FONT FACE="arial">Spiderman: Lejos de casa</FONT></h5>
                                  <a href="/spiderman" style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
               
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/bosque.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5><FONT FACE="arial">El bosque maldito</FONT></h5>
                                  <a href="#" style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/hombre.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5><FONT FACE="arial">Un hombre en apuros</FONT></h5>
                                  <a href="#" style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/leon.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                 <h5><FONT FACE="arial">El rey Leon</FONT></h5>
                                  <a href="/leon" style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/sendero.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5><FONT FACE="arial">El sendero de la anaconda</FONT></h5>
                                  <a href="#" style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/matar.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5><FONT FACE="arial">John wick 2</FONT></h5>
                                  <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/toys.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5><FONT FACE="arial">Toy story 4</FONT></h5>
                                  <a href="/toy" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
               
            </div>
        </div>


        <br>
    <% include parts/footer %>
    <% include parts/javascript %>
</body>

</html>