<!DOCTYPE html>
<html lang="en">

<% include parts/head %>

<body>

    <% include parts/nav %>

    <h1 align="center">Proximos Estrenos</h1>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/croods.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">Los croods 2</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/geminis.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">Proyecto géminis</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/guason.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">Guasón</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/it.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">IT</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>
           
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/mascotas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">Mascotas 2</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/minions2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">Minions 2</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/sonic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">Sonic - La pelicula</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/estrenos/terminator.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>
                            <FONT FACE="arial">Terminator - Destino oscuro</FONT>
                        </h5>
                        <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="image/estrenos/woman.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>
                                <FONT FACE="arial">Mujer maravilla</FONT>
                            </h5>
                            <a href="#" style="width: 16rem;background-color: #1B2B32" class="btn btn-dark">VER MÁS</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>


    <br>

    <% include parts/footer %>
    <% include parts/javascript %>
</body>

</html>