<!DOCTYPE html>
<html lang="en">

<head>
    <% include parts/head %>
</head>

<body>
    <% include parts/nav %>



    <style>
        .heading {
            color: #1B2B32;
            margin-left: 200px
        }

        .color {
            color: #1B2B32;

        }

        .mover {
            margin-left: 60px;
        }
    </style>
    <h1 class="heading">RÁPIDOS Y FURIOSOS - HOBBS & SHAW</h1>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="image/principal/rapido.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6">


                <h5 align="justify">
                    <FONT FACE="arial">Hobbs (Johnson), un leal agente del Servicio de Seguridad Diplomática de América,
                        y el forajido Shaw (Statham), un ex militar operativo británico, se enfrentaron por primera vez
                        en Rápidos & Furiosos 7, el dúo ha intercambiado confrontaciones verbales y físicas al intentar
                        derrotarse. Sin embargo, cuando Brixton (Idris Elba), un anarquista cybergenéticamente
                        modificado toma el control de una mortífera arma biológica que podría cambiar a la humanidad,
                        estos dos enemigos a muerte deberán hacer equipo para vencer al único hombre que podría ser más
                        terrible que ellos mismos.</FONT>
                </h5>

                <p><b class="color">Género: </b>Thriller de acción</p>
                <p> <b class="color">Idioma: </b>Español</p>
                <p><b class="color">Duración: </b>134 minutos</p>
                <p><b class="color">Horarios: </b>9:00 a.m</p>
                <p class="mover">2:00 p.m</p>
                <p class="mover">6:00 p.m</p>
                <p class="mover">8:00 p.m</p>
                <p class="mover">10:00 p.m</p>

                <div class="sub_header">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="sub_header_social_icon float-right">
                                <a style="font-weight:500;" href="/login2" class="register_icon"><i
                                        class='fas fa-user-check'></i>Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <br>
    <br>

    <% include parts/footer %>


</body>

</html>