<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/IniciarSesion.css">
        <link rel="stylesheet" href="foundation-icons/foundation-icons.css">
    </head>
    <body>
        
        <br>
        <br>    
        <div class="row align-center">
            <div class="column small-6">
                  <br>
                    <h4 class="text-center">Crea tu cuenta gratuita y obten grandes descuentos.</h4>
                        
                        <form class="form-registration-group" action="">
                         
                        <p class="or-divider"><span>or</span></p>
                       
                        <p class="form-registration-terms"><a href="terminos.html">Terminos &amp; Condiciones</a>|<a href="#">Privacidad</a></p>
                    </form>
                
            </div>
            <div class="column small-6">
                <div class="form-registration ">
                    <form class="callout text-center">
                        <h2>Registro de usuario</h2>
                        <div class="floated-label-wrapper">
                            <label for="full-name">cedula</label>
                            <input type="number" id="full-name" name="cedula" placeholder="Nombres">
                        </div>
                        <div class="floated-label-wrapper">
                            <label for="full-name">Nombres</label>
                            <input type="text" id="full-name" name="nombres" placeholder="Nombres">
                        </div>
                       <div class="floated-label-wrapper">
                            <label for="surname">Apellidos</label>
                            <input type="text" id="full-name" name="apellidos" placeholder="Apellidos">
                        </div>
                        <div class="floated-label-wrapper">
                            <label for="email">Nombre de usuario</label>
                            <input type="email" id="email" name="usuario" placeholder="Email">
                        </div>
                        <div class="floated-label-wrapper">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="floated-label-wrapper">
                            <label for="pass">Contraseña</label>
                            <input type="password" id="pass" name="contrasena" placeholder="Contraseña">
                        </div>
                        <div class="floated-label-wrapper">
                            <label for="pass">Confirmar contraseña</label>
                            <input type="password" id="pass" name="passwordconfirmation" placeholder="Confirmar contraseña">
                        </div>
                        <div class="row">
                            <div class="medium-6 columns">
                                <input id="checkbox1" type="checkbox"><label for="checkbox1">Acepto terminos y condiciones</label>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="medium-3 columns">
                               
                            </div>
                            <div class="medium-4 columns">
                                <input class="button primary " type="text" value="CREAR CUENTA">
                            </div>
                           
                            <div class="medium-2 columns">
                               
                            </div>
                        </div>
                    </form>
                        
                        
                    </div>    
                </div>
            </div>
                
         <br>
            
            <div class="callout large secondary " style="background: #1B2B32">
                <div class="row">
                    <div class="large-4 columns">
                        <a href="index.html"><img src="images/pie.png"></a>
                        
                        
                    </div>
                    <div class="large-4 columns">
                        <ul class="menu horizontal"> 
                            <p class="pie">
                                <br>
                            <h7>Created by :</h7>
                            <br>
                            <h7>Yeison Gomez</h7>
                            <br>
                            <h7>Santiago Mariño</h7>
                            <br>
                            <h7>Jose Cordoba</h7>
                            </p>
                            
                        </ul>
                    </div>
                    <div class="large-4 columns">
                        <ul class="menu horizontal">
                            <p class="pie">
                            <h7>Redes Sociales</h7>
                            </p>
                            
                            <li><a href="#"><i class="step fi-social-facebook size-72"></i></a></li>
                            <li><a href="#"><i class="step fi-social-twitter size-72"></i></a></li>
                            <li><a href="#"><i class="step fi-social-instagram size-72"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <script src="js/vendor/jquery.js"></script>
            <script src="js/vendor/what-input.js"></script>
            <script src="js/vendor/foundation.js"></script>
            <script src="js/app.js"></script>
            <script src="js/formulario.js"></script>
    </body>
</html>
