<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cine || Inicio</title>
    <link rel="icon" href="">
    <!-- Bootstrap CSS -->
    <link  type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

  

</head>