<br>
<br>
<br>
<style>
        .heading { color: white; }
      </style>
<h1 align="center" class="heading" style="background-color: #1B2B32">Peliculas Más Vistas</h1>
    <br>
    
    <div class="container">
            <div class="row">
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/rapido.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5><FONT FACE="arial">Rápidos y Furiosos </FONT></h5>
                                  <a href="/rapido"style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/spider.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5><FONT FACE="arial">Spiderman: Lejos de casa</FONT></h5>
                                  <a href="/spiderman" style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/leon.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                 <h5><FONT FACE="arial">El rey Leon</FONT></h5>
                                  <a href="/leon" style="width: 16rem;background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                                <img src="image/principal/toys.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                 <h5><FONT FACE="arial">Toy story 4</FONT></h5>
                                  <a href="/toy" style="width: 16rem; background-color: #1B2B32"  class="btn btn-dark">VER MÁS</a>
                                </div>
                              </div>
                </div>
               
            </div>
        </div>
